@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', Yugothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: 9EA893;/* 文字色 */
    background-color: #fff2d9;/* 背景色 */ 
}

.profile
{
	background-image: url("images/img_f1.jpg");
	height: 500px;
	width: 100%;
	
	background-size: cover;
	background-position: left center;
}

.name p{text-align: center;
     height:50px;
     font-weight: 400;
     letter-spacing: 5px;
     padding-top: 20px;
    
     
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sub_box {
    width: 100%;
    border: #B5C0A8 solid 1px;
    background-color: #F3e2da;
}
  
.sub_box
{
	flex: 1;
	padding:5px;
	border: #2fff2d9 solid 1px;
}

.sub_box h1
{
   background-color:#B5C0A8;
   color: #fff2d9;
   text-align: center;
}
.text h2
{
    text-align: center;
    height:30px;
      padding-top: 20px;
}

.button span {
    width:200px;
    font-size:24px;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    background-color: #B5C0A8;
    border-radius:5px;
    margin: 0 auto ;

}
  
  @media (max-width: 768px) {
  .container {
    flex-direction:column;}}
    
  @media(max-width:768px){
    .profile {
         height: 250px;
    }
}  